/* line 328, my-icons/*.png */
.my-icons-sprite,
.my-icons-aboutus-34-28,
.my-icons-add-24,
.my-icons-add-items,
.my-icons-arrow-down,
.my-icons-arrow-right-grey,
.my-icons-arrow-right,
.my-icons-census,
.my-icons-clear-31-34,
.my-icons-coin-22-21,
.my-icons-company-36,
.my-icons-company-title,
.my-icons-company,
.my-icons-complete,
.my-icons-copy-active-28,
.my-icons-copy-grey-28,
.my-icons-current-list,
.my-icons-edit-name,
.my-icons-form-28,
.my-icons-grey-package,
.my-icons-local-21-26,
.my-icons-mine,
.my-icons-money-active,
.my-icons-money-grey,
.my-icons-orange-package,
.my-icons-page-24,
.my-icons-person-24,
.my-icons-phone-24,
.my-icons-project,
.my-icons-red-package,
.my-icons-search,
.my-icons-setting-44-39,
.my-icons-statistics,
.my-icons-uncensus,
.my-icons-unmine,
.my-icons-unproject,
.my-icons-where-from {
  background-image: url("../images/my-icons-s6852ec06e4.png");
  background-repeat: no-repeat;
}

/* line 84, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-aboutus-34-28 {
  background-position: 0 -1026px;
}

/* line 84, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-add-24 {
  background-position: -34px -1002px;
}

/* line 84, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-add-items {
  background-position: -58px -970px;
}

/* line 84, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-arrow-down {
  background-position: -90px -958px;
}

/* line 84, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-arrow-right-grey {
  background-position: -109px -940px;
}

/* line 84, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-arrow-right {
  background-position: -119px -922px;
}

/* line 84, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-census {
  background-position: -129px -878px;
}

/* line 84, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-clear-31-34 {
  background-position: -173px -844px;
}

/* line 84, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-coin-22-21 {
  background-position: -204px -823px;
}

/* line 84, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-company-36 {
  background-position: -226px -787px;
}

/* line 84, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-company-title {
  background-position: -262px -753px;
}

/* line 84, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-company {
  background-position: -298px -729px;
}

/* line 84, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-complete {
  background-position: -322px -715px;
}

/* line 84, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-copy-active-28 {
  background-position: -342px -687px;
}

/* line 84, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-copy-grey-28 {
  background-position: -370px -659px;
}

/* line 84, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-current-list {
  background-position: -398px -641px;
}

/* line 84, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-edit-name {
  background-position: -426px -617px;
}

/* line 84, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-form-28 {
  background-position: -450px -589px;
}

/* line 84, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-grey-package {
  background-position: -478px -564px;
}

/* line 84, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-local-21-26 {
  background-position: -506px -538px;
}

/* line 84, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-mine {
  background-position: -527px -494px;
}

/* line 84, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-money-active {
  background-position: -567px -463px;
}

/* line 84, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-money-grey {
  background-position: -592px -432px;
}

/* line 84, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-orange-package {
  background-position: -617px -407px;
}

/* line 84, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-page-24 {
  background-position: -645px -383px;
}

/* line 84, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-person-24 {
  background-position: -669px -359px;
}

/* line 84, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-phone-24 {
  background-position: -693px -335px;
}

/* line 84, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-project {
  background-position: -717px -291px;
}

/* line 84, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-red-package {
  background-position: -757px -266px;
}

/* line 84, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-search {
  background-position: -785px -234px;
}

/* line 84, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-setting-44-39 {
  background-position: -817px -195px;
}

/* line 84, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-statistics {
  background-position: -861px -159px;
}

/* line 84, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-uncensus {
  background-position: -905px -115px;
}

/* line 84, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-unmine {
  background-position: -949px -71px;
}

/* line 84, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-unproject {
  background-position: -989px -27px;
}

/* line 84, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-where-from {
  background-position: -1029px 0;
}

/* line 9, ../sass/index.scss */
.my-icons-bg {
  background-size: 1056px 1054px;
}
